@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --corPrincipal: rgb(35, 73, 90);
    --corBranca: rgb(226, 211, 255);
    --corEscura: rgb(11, 31, 39);
    --corEscura2: rgb(4, 14, 19);
    --corContraste: rgb(172, 245, 255);
    --corFonte: rgb(51, 51, 51);
    --corBorda: rgb(151, 151, 151);
}

body {
    background-color: var(--corPrincipal);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    margin-left: 50px;
    margin-top: 35px;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: var(--corBranca);
    padding-left: 35px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2)
}

h1 {
    color: var(--corPrincipal);
    font-family: 'Bebas Neue';
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 0px;
    margin-left: 30px;
    letter-spacing: 2px;
}

p {
    color: var(--corFonte);
    letter-spacing: -1px;
    margin-left: 30px;
}

label {
    color: var(--corPrincipal);
    font-weight: 700;
    font-size: 19px;
    letter-spacing: -1px;
    margin-left: 30px;
    line-height: 45px;
}

input {
    border: 2px solid var(--corBorda);
    border-radius: 2px;
    outline: 0;
    width: 450px;
    height: 25px;
    padding-left: 8px;
    margin-left: 20px;
    font-size: 17px;
    color: var(--corBranca);
}

input:focus {
    border: 2px solid var(--corPrincipal);
}

#botaoEnviar {
    border: none;
    background-color: var(--corPrincipal);
    color: var(--corBranca);
    width: 100px;
    height: 30px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

#botaoEnviar:hover {
    background-color: var(--corEscura);
    transition: all ease-in-out 0.3s;
}

#botaoEnviar:active {
    background-color: var(--corEscura2);
}